.dragon {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  margin-bottom: 30px;
  align-items: flex-start;
}

.dragonImg img {
  width: 250px;
  height: auto;
}

.dragonInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.dragonInfo h2 {
  font-size: 1.5rem;
}

.dragonInfo p {
  font-size: 1rem;
  line-height: 1.2rem;
}

.dragonInfo button {
  background-color: blue;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
