.dragon {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  margin-bottom: 30px;
  align-items: flex-start;
}

.dragonImg img {
  width: 250px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.dragonInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.dragonInfo h2 {
  font-size: 1.6rem;
}

.reservedText {
  background-color: skyblue;
  color: white;
  padding: 5px;
  margin-right: 5px;
  font-size: 0.7rem;
  border-radius: 5px;
}

.dragonInfo p {
  font-size: 1rem;
  line-height: 1.2rem;
}

.dragonInfo button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.reserve {
  background-color: blue;
  color: #fff;
  border: none;
}

.reserve:hover {
  background-color: darkblue;
}

.cancel {
  background-color: #fff;
  border: 1px solid #777;
  color: #777;
}

.cancel:hover {
  background-color: #777;
  color: #fff;
  border: none;
}
